@(diagnosis : Diagnosis, nextDiagnosisId : Integer, previousDiagnosisId : Integer)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diagnosis Detail</title>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/diagnosisdetail.css">

</head>
<body>
<h1 align="center"> @diagnosis.getDiagnosisName</h1>

<br><br><br>



<p align="center"> @diagnosis.getDescription</p>

<br><br>
<button>
    <a href="/diagnosispage/@nextDiagnosisId" align="center">Next</a>
</button>
<button>
<a href ="/diagnosispage/@previousDiagnosisId" align="center">Previous</a>
</button>
<button>
    <a href="/providersearch" align="center">Provider Search</a>
</button>
</body>
</html>