<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Mental Health Match</title>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/providerdbinputreturnpage.css">
</head>
<body>
<h1 align="center">Mental Health Match</h1>
<div class="text-center">
<form action="@routes.MHAHomeController.getProviderInfo" method="GET">
    @helper.CSRF.formField

<button align="center" type="button"  class="btn btn-light" >I Am A Provider</button><br><br>
</form></div>

<div class="text-center">
<form action="@routes.MHAHomeController.getProviderSearch" method="GET">
    @helper.CSRF.formField
<button  align="center" type="button"  class="btn btn-light">I Am Searching For A Provider</button>
</div>
</form>
</body>
</html>