<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Provider search</title>
</head>
<body>
<h1 align="center">Provider Search</h1>

<label for="firstname">Location: </label>
<input type="text" class="form-control" id="firstname" name="firstname" value="City"><br>
<label for="diagnosis">Chief Complaint</label>
<select type="text" id="diagnosis">
    <option value="anxeity">Anxeity</option>
    <option value="add">ADD</option>
    <option value="adhd">ADHD</option>
    <option value="depression">Depression</option>
</select><br>

<input type="submit" value="Search">
</body>
</html>
