@(mentalhealthprofessionaldetail : MentalHealthProfessionalDetail)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Provider DB Input Return Page</title>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
</head>
<body>
<h1 align="center">Provider Profile</h1>






    <p align="center">@mentalhealthprofessionaldetail.getTitleName @mentalhealthprofessionaldetail.getFirstName @mentalhealthprofessionaldetail.getLastName @mentalhealthprofessionaldetail.getSuffix</p>


    <p align="center">@mentalhealthprofessionaldetail.getAddress @mentalhealthprofessionaldetail.getCity, @mentalhealthprofessionaldetail.getStateId @mentalhealthprofessionaldetail.getZipcode </p>

    <p align="center">@mentalhealthprofessionaldetail.getLanguageName</p>

    <p align="center">@mentalhealthprofessionaldetail.getPhoneNumber</p>
    <p align="center">@mentalhealthprofessionaldetail.getMinPatientAge - @mentalhealthprofessionaldetail.getMaxPatientAge</p>
    <p align="center">@mentalhealthprofessionaldetail.getExpertiseName</p>
<p align="center">@mentalhealthprofessionaldetail.getInsuranceName</p>

    <br><br>

<button>
    <a href="/providersearch" align="center">Provider Search</a>
</button>

<button>
    <a href="/iamaprovider" align="center">Provider Input</a>
</button>

</body>
</html>