@(titles : List[Title], insurances : List[Insurance], diagnosis : List[Diagnosis],
specialexpertise : List[SpecialExpertise], therapy : List[Therapy],language : List[Language], mentalhealthprofessional : List[MentalHealthProfessional])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Provider search</title>
</head>
<body>
<form method = "POST">
    @helper.CSRF.formField

<h1 align="center">Provider Search</h1>

<label for="title">Profession</label>
<select type="text" id="title">
    @for(title <- titles) {
    <option value="@title.getTitleId">@title.getTitleName</option>
    }

</select><br><br>

<label for="agerange">Age Range</label>
<select type="text" id="agerange">

    <option value="0,6">Under 5</option>
    <option value="6,12">6-12</option>
    <option value="12,17">12-17</option>
    <option value="17,64">17-64</option>
    <option value="65, 100">65 & Over</option>

</select><br><br>

<label for="location">Location: </label>
<select type="text"  id="location"  value="City">
    @for(mentalhealthprofessional <- mentalhealthprofessional) {
    <option value="@mentalhealthprofessional.getCity">@mentalhealthprofessional.getCity</option>

    }
    </select>
    <br><br>
<label for="languages">Language </label>
<select type="text" id="languages">
    @for(language <- language) {
    <option value="@language.getLanguageId">@language.getLanguageName</option>
    }

</select><br><br>

<label for="insurance">Insuraces</label>
<select type="text" id="insurance">
    @for(insurance <- insurances) {
    <option value="@insurance.getInsuranceId">@insurance.getInsuranceName</option>
    }

</select><br><br>


    <label for="diagnosis">Suspected Diagnosis</label><br>
        <form action="/action_page.php">
            @for(diagnosis <- diagnosis) {
            <input type="checkbox" name="dia1" value="@diagnosis.getDiagnosisId"> @diagnosis.getDiagnosisName
            }
        </form><br><br>

                        <label for="expertise">Special Expertise</label>
                        <form action="/action_page.php">
                            @for(specialexpertise <- specialexpertise) {
                            <input type="checkbox" name="se1" value="@specialexpertise.getExpertiseId"> @specialexpertise.getExpertiseName
                            }

                        </form><br><br>

<label for="treatment">Treatment Modalities Offered</label>
<form action="/action_page.php">
    @for(therapy <- therapy) {
    <input type="checkbox" name="tmo1" value="therapy.getTherapyId"> @therapy.getTherapyName
    }


</form><br><br>

<br><br>
</form>
<input type="submit" value="Search">

</body>
</html>
