@(titles : List[Title], insurances : List[Insurance], diagnosis : List[Diagnosis],
specialexpertise : List[SpecialExpertise],
therapy : List[Therapy],language : List[Language], cities : List[String])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Provider search</title>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
</head>
<body>


<h1 align="center"><b>Provider Search </b></h1>
<form action="@routes.MHAHomeController.getMentalHealthProfessionalDetail" method="GET">
    @helper.CSRF.formField

<label for="title"><b>Title</b></label>
<select  name="titleId" id="title">
    <option value="blank"></option>
    @for(title <- titles) {
    <option value="@title.getTitleId">@title.getTitleName</option>
    }

</select><br><br>

<label for="agerange"><b>Age Range</b></label>
<select  id="agerange">
    <option value="blank"></option>
    <option value="0,6">Under 5</option>
    <option value="6,12">6-12</option>
    <option value="12,17">12-17</option>
    <option value="17,64">17-64</option>
    <option value="65, 100">65 & Over</option>

</select><br><br>

<label for="location"><b>Location: </b></label>
<select name="city" id="location">
    <option value="blank"></option>
    @for(city <- cities) {
    <option value="@city">@city</option>

    }
    </select>
    <br><br>
<label ><b>Language </b></label>
<select  name="languageId" id="languages">
    <option value="blank"></option>
    @for(language <- language) {
    <option value="@language.getLanguageId">@language.getLanguageName</option>
    }

</select><br><br>




    <label for="expertise"><b>Special Expertise</b></label>
    <select name="expertiseId" id="expertise">
        <option value="blank"></option>
    @for(specialexpertise <- specialexpertise) {
    <option value="@specialexpertise.getExpertiseId"> @specialexpertise.getExpertiseName
    }
    </select><br><br>

    <label for="insurance"><b>Insuraces</b></label><br>

        @for(insurance <- insurances) {
        <input type="checkbox" name="insuance" value="@insurance.getInsuranceId">@insurance.getInsuranceName</input>
        }
<br><br>

        <label for="diagnosis"><b>Suspected Diagnosis</b></label><br>

            @for(diagnosis <- diagnosis) {
            <input type="checkbox" name="diagnosis" value="@diagnosis.getDiagnosisId"><a href="/diagnosispage/@diagnosis.getDiagnosisId">@diagnosis.getDiagnosisName</a>
            }
       <br><br>


<label for="treatment"><b>Treatment Modalities Offered</b></label>

    @for(therapy <- therapy) {
    <input type="checkbox" name="therapy" value="therapy.getTherapyId"> @therapy.getTherapyName
    }
<br><br>

<br><br>

    <input type="submit" value="Search for Provider">
</form>


</body>
</html>
